.choose-username {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 25px;
    text-align: center;

    form {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100%;
        width: 500px;

        mat-form-field {
            display: block;
        }
    }
}
